/* Estilo básico para todo o corpo da página */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Define a fonte padrão para o texto */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    background-color: #ffffff; /* Define a cor de fundo branca */
    color: #333333; /* Define a cor do texto */
}

/* Estilo do cabeçalho */
header {
    background-color: #4CAF50; /* Define a cor de fundo verde */
    color: white; /* Define a cor do texto branca */
    padding: 20px 0; /* Adiciona preenchimento superior e inferior */
    text-align: center; /* Centraliza o texto no cabeçalho */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adiciona uma sombra ao cabeçalho */
}

/* Estilo da lista de navegação */
nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
    margin: 0; /* Remove a margem padrão da lista */
    text-align: center; /* Centraliza a lista */
}

/* Estilo dos itens da lista de navegação */
nav ul li {
    display: inline-block; /* Exibe os itens da lista em bloco em linha */
    margin: 0 15px; /* Adiciona margem entre os itens da lista */
}

/* Estilo dos links de navegação */
nav ul li a {
    color: white; /* Define a cor do texto dos links */
    text-decoration: none; /* Remove a sublinha dos links */
    font-weight: bold; /* Define o texto dos links como negrito */
    transition: color 0.3s; /* Adiciona uma transição suave na cor dos links */
}

nav ul li a:hover {
    color: #ffeb3b; /* Define a cor do texto dos links quando passados com o mouse */
}

/* Estilo do conteúdo principal */
main {
    margin: 40px auto; /* Adiciona margem superior e inferior, e centraliza horizontalmente */
    max-width: 800px; /* Define a largura máxima 
